includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
    
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#PHPDoc tag @param references unknown parameter#'
        - '#Part .* of encapsed string cannot be cast to string#'
        - '#Parameter .* expects string, array\|bool\|string\|null given#'
        - '#Parameter .* expects string, string\|false given#'
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
    
    excludePaths:
        - vendor
    
    reportUnmatchedIgnoredErrors: false 